/* 1. Importación de módulos */
@import url('./base.css');
@import url('./atoms.css');
@import url('./molecules.css');


/* 2. Layouts y Organismos */
.container {
    max-width: 1200px;
    width: 90%;
    margin: var(--spacing-lg) auto;
    padding: 0 var(--spacing-md);
    flex-grow: 1; /* Permite que el footer se quede abajo */
    display: grid;/* Layout: 2 columnas en desktop */
    gap: var(--spacing-xl);
    grid-template-columns: 1fr; /* Móvil: 1 columna */
}

@media (min-width: 850px) {
    .container {
        grid-template-columns: 2fr 1fr; /* 2/3 para el generador y 1/3 para favoritos */
    }
}

.fact-container h2 {
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: var(--spacing-sm);
    display: inline-block;
}

.fact-actions {
    display: flex;
    justify-content: flex-start; 
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
}

.favorites-container h2 {
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: var(--spacing-sm);
    display: inline-block;
}

/* Footer */
.footer {
    background-color: var(--color-text);
    color: var(--color-background);
    text-align: center;
    padding: var(--spacing-md) 0;
    font-size: 0.8rem;
}